.key{
    height:400px;
    background: linear-gradient( to right , black, white);
}

.sharp{
    height: 400px;
    background: linear-gradient ( to right, red , white);
}

.small{
    text-decoration: line-through;
    
}

input[type="checkbox"]:checked + label{
    text-decoration: line-through;
}